{% extends "base.html" %}

{% block body %}

<div>
    <img src="/uploads/{{data.primary_image}}" alt=""
        class='object-cover w-full h-96' />
    <div class='p-4'>
        <h1 class='text-3xl font-bold uppercase'>{{data.name}}</h1>
        <p class='mt-2'>{{data.long_description}}</p>
        <p class="p-4 font-bold text-xl">₹ {{data.price}} Onwards</p>
        <a href="tel:+66 89 076 3594"><div class="flex-row items-center gap-3 bg-green-400 inline-flex p-2 text-white rounded-xl cursor-pointer">
            <span class="material-symbols-outlined">call</span>
            <p>Contact us</p>
        </div></a>
        <a href="mailto:info@explorebkk.com">
            <div class="flex flex-row items-center gap-3 mt-3">
                <span class="material-symbols-outlined">
                    mail
                </span>
                <p>info@explorebkk.com</p>
            </div>
        </a>
        <div class='grid grid-cols-2 gap-3 mt-6'>
            <img src="/uploads/{{data.img2}}" alt="" class='rounded-lg aspect-square w-full object-cover' />
            <img src="/uploads/{{data.img3}}" alt="" class='rounded-lg aspect-square w-full object-cover' />
            <img src="/uploads/{{data.img4}}" alt="" class='rounded-lg aspect-square w-full object-cover' />
            <img src="/uploads/{{data.img5}}" alt="" class='rounded-lg aspect-square w-full object-cover' />
        </div>
    </div>
</div>


{% endblock body %}